.app{
    width: 100%;
    height: 100%;
    position: relative;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    background: linear-gradient(to right, #003c78 0%, #003c78 40%, #00468c 40%, #00468c 50%, #00468c 50%, #b41e14 50%, #b41e14 60%, #e11e14 60%, #e11e14 100%);
}
.app a, button{
    transition: all .4s;
}

.app a:hover{
    opacity: 70%;
    cursor: pointer;
}

input{
    outline: none;
}
input:active{
    outline: none;
}
:focus {
    outline: none;
}
