.element{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table_kkt {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 800px;
  padding: 0;
  gap: 25px;
}

.table__cell_kkt {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  background-color: #2da86b;
  border-radius: 12px;
  padding-left: 10px;
  width: 360px;
  height: 166px;
  cursor: pointer;
  transition: opacity 0.3s linear;
  text-decoration: none;
  gap: 7px;
}

.table__cell_kkt:hover {
  background: rgba(0, 0, 0, 0.3);
}

.table__heading_kkt {
  color: black;
  font-weight: 600;
  font-size: 17px;
  line-height: 17px;
}

.table__paragraph {
  color: black;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
}


.table__cell_kkt_red {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  background-color: #e11e14;
  border-radius: 12px;
  padding-left: 10px;
  width: 360px;
  height: 166px;
  cursor: pointer;
  transition: opacity 0.3s linear;
  text-decoration: none;
  gap: 7px;
}

.table__cell_kkt_yellow {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  background-color: #ffd801;
  border-radius: 12px;
  padding-left: 10px;
  width: 360px;
  height: 166px;
  cursor: pointer;
  transition: opacity 0.3s linear;
  text-decoration: none;
  gap: 7px;
}

.table__cell_kkt_red:hover {
  background: rgba(0, 0, 0, 0.3);
}

.table__cell_kkt_yellow:hover {
  background: rgba(0, 0, 0, 0.3);
}
